* {
    font-family: "San Francisco", sans-serif;
}


body{
    background: linear-gradient(to right, #29358f, #ff9d2e);
}

/*button styles*/
button{
    float: left;
    border-radius: 30px;
    border-width: 3px;
    border-color: grey;
    margin: 5px;
    border-style: solid;
    width: 60px;
    height: 60px;
   
    
}

/*button hover*/
button:hover{
   cursor: pointer; 
}

button.red{
    background-color: red;
    /*color: #54de74;*/
    color: white;
}

button.green{
    background-color: green;
    color: white;
}

button.blue{
    background-color: blue;
    color: white;
}
button.yellow{
    background-color: yellow;
}
button.purple{
    background-color: purple;
    color: white;
}
button.reset{
    background: linear-gradient(to right, #29358f, #ff9d2e);
    color: white;
}
button.info{
    background-color: white;
    color: black;
}
button.orange{
    background-color: orange;
}








#portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
  }
  .container .modal {
    z-index: 1;
    width: 400px;
    height: 250px;
    background: rgb(210, 210, 210);
    display: flex;
   /* align-items: center;
    justify-content: center;*/
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
    position: relative;
  }
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .container .modal h2{
    justify-content: center;
    position: absolute;
    left: 130px;
    top: 10px;
  }
  .container .modal p{
      width: 250px;
      position: absolute;
      top: 90px;
      left: 80px;
  }
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }