body{
    background: linear-gradient(to right, #29358f, #ff9d2e);
}



/*button styles*/
button{
    float: left;
    border-radius: 30px;
    border-width: 3px;
    border-color: grey;
    margin: 5px;
    border-style: solid;
    width: 60px;
    height: 60px;
   
    
}

/*button hover*/
button:hover{
   cursor: pointer; 
}

button.red{
    background-color: red;
    /*color: #54de74;*/
    color: white;
}

button.green{
    background-color: green;
    color: white;
}

button.blue{
    background-color: blue;
    color: white;
}
button.yellow{
    background-color: yellow;
}
button.purple{
    background-color: purple;
    color: white;
}
button.reset{
    background: linear-gradient(to right, #29358f, #ff9d2e);
    color: white;
}
button.info{
    background-color: white;
    color: black;
}
button.orange{
    background-color: orange;
}

